<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <queries>
        <package android:name="com.cashewteam.novatext.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Nova Text Extra"
        android:theme="@style/Theme.NovaTextExtra">
        <activity
            android:name=".ExtraActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="false" />

        <service
            android:name=".ExtraAccessibilityService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:label="Nova Text Extra"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/extra_accessibility_service" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Keep experimental accessibility touch delegation responsive" />
        </service>

        <receiver
            android:name=".TriggerDiagnosticReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cashewteam.novatext.extra.TRIGGERED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
